<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <context:annotation-config />
    <context:component-scan base-package="com.example.phonebook">
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>

      <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    
    <!-- MySQL DataSource -->
    <bean id="mysqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" 
                 value="jdbc:mysql://localhost:3306/himedia" />
        <property name="username" value="himedia" />
        <property name="password" value="himedia" />
    </bean>
    
    <!-- config파일은 classpath:mybatis/configuration.xml, 없으면 생성하자 -->
    <!-- oracle을 쓴다면 oracleDatasource, mySQL을 쓴다면? -->
    <!-- MyBatis SqlSessionFactoryBean -->
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mysqlDataSource" />
        <property name="configLocation" value="classpath:mybatis/configuration.xml" />
    </bean>
    
    <!-- MyBatis SqlSessionTemplate -->
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"  />
    </bean>
    

    
    
    
</beans>